In [1]:
import pandas as pd

In [ ]:
!pip install opendatasets

In [3]:
import opendatasets as od

In [ ]:
!pip install kaggle

In [17]:
dataset = 'https://www.kaggle.com/datasets/joebeachcapital/car-crashes?'

In [ ]:
od.download(dataset)

In [23]:
import os

In [24]:
data_dir = './car-crashes'

In [25]:
os.listdir(data_dir)

['Motor_Vehicle_Collisions_-_Crashes.csv']

In [32]:
motor_df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')
motor_df

/var/folders/cb/p9f97kk97jz23d6h3kn2vflr0000gn/T/ipykernel_13248/4040142952.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  motor_df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018958,07/03/2023,18:05,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018959,07/22/2023,21:39,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018960,07/02/2023,17:55,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018961,07/22/2023,13:15,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018962,07/22/2023,3:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [35]:
print(motor_df.shape)

(2018963, 29)

In [36]:
print(motor_df.head())

   CRASH DATE CRASH TIME   BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0  09/11/2021       2:39       NaN      NaN        NaN        NaN
1  03/26/2022      11:45       NaN      NaN        NaN        NaN
2  06/29/2022       6:55       NaN      NaN        NaN        NaN
3  09/11/2021       9:35  BROOKLYN  11208.0  40.667202 -73.866500
4  12/14/2021       8:13  BROOKLYN  11233.0  40.683304 -73.917274

                  LOCATION           ON STREET NAME CROSS STREET NAME  \
0                      NaN    WHITESTONE EXPRESSWAY         20 AVENUE
1                      NaN  QUEENSBORO BRIDGE UPPER               NaN
2                      NaN       THROGS NECK BRIDGE               NaN
3    (40.667202, -73.8665)                      NaN               NaN
4  (40.683304, -73.917274)          SARATOGA AVENUE    DECATUR STREET

           OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0                      NaN  ...                    Unspecified
1                      NaN  ...                            NaN
2                      NaN  ...                    Unspecified
3  1211      LORING AVENUE  ...                            NaN
4                      NaN  ...                            NaN

   CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  VEHICLE TYPE CODE 1  \
0                            NaN       4455765                Sedan
1                            NaN       4513547                Sedan
2                            NaN       4541903                Sedan
3                            NaN       4456314                Sedan
4                            NaN       4486609                  NaN

   VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3 VEHICLE TYPE CODE 4  \
0                Sedan                  NaN                 NaN
1                  NaN                  NaN                 NaN
2        Pick-up Truck                  NaN                 NaN
3                  NaN                  NaN                 NaN
4                  NaN                  NaN                 NaN

  VEHICLE TYPE CODE 5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

[5 rows x 29 columns]

In [37]:
print(motor_df.columns)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [38]:
print(motor_df.describe())

           LATITUDE     LONGITUDE  NUMBER OF PERSONS INJURED  \
count  1.789236e+06  1.789236e+06               2.018945e+06
mean   4.062778e+01 -7.375230e+01               3.025417e-01
std    1.980761e+00  3.727273e+00               6.939179e-01
min    0.000000e+00 -2.013600e+02               0.000000e+00
25%    4.066792e+01 -7.397493e+01               0.000000e+00
50%    4.072102e+01 -7.392732e+01               0.000000e+00
75%    4.076956e+01 -7.386665e+01               0.000000e+00
max    4.334444e+01  0.000000e+00               4.300000e+01

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count              2.018932e+06                   2.018963e+06
mean               1.447795e-03                   5.519467e-02
std                4.008954e-02                   2.413614e-01
min                0.000000e+00                   0.000000e+00
25%                0.000000e+00                   0.000000e+00
50%                0.000000e+00                   0.000000e+00
75%                0.000000e+00                   0.000000e+00
max                8.000000e+00                   2.700000e+01

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                  2.018963e+06               2.018963e+06
mean                   7.251247e-04               2.614411e-02
std                    2.741069e-02               1.614861e-01
min                    0.000000e+00               0.000000e+00
25%                    0.000000e+00               0.000000e+00
50%                    0.000000e+00               0.000000e+00
75%                    0.000000e+00               0.000000e+00
max                    6.000000e+00               4.000000e+00

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count              2.018963e+06                2.018963e+06
mean               1.119387e-04                2.180679e-01
std                1.062623e-02                6.550812e-01
min                0.000000e+00                0.000000e+00
25%                0.000000e+00                0.000000e+00
50%                0.000000e+00                0.000000e+00
75%                0.000000e+00                0.000000e+00
max                2.000000e+00                4.300000e+01

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count               2.018963e+06  2.018963e+06
mean                5.913927e-04  3.117002e+06
std                 2.651381e-02  1.504009e+06
min                 0.000000e+00  2.200000e+01
25%                 0.000000e+00  3.140860e+06
50%                 0.000000e+00  3.645705e+06
75%                 0.000000e+00  4.150694e+06
max                 5.000000e+00  4.655786e+06

In [39]:
print(motor_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018963 entries, 0 to 2018962
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 446.7+ MB
None

In [40]:
print(motor_df.describe())

           LATITUDE     LONGITUDE  NUMBER OF PERSONS INJURED  \
count  1.789236e+06  1.789236e+06               2.018945e+06
mean   4.062778e+01 -7.375230e+01               3.025417e-01
std    1.980761e+00  3.727273e+00               6.939179e-01
min    0.000000e+00 -2.013600e+02               0.000000e+00
25%    4.066792e+01 -7.397493e+01               0.000000e+00
50%    4.072102e+01 -7.392732e+01               0.000000e+00
75%    4.076956e+01 -7.386665e+01               0.000000e+00
max    4.334444e+01  0.000000e+00               4.300000e+01

       NUMBER OF PERSONS KILLED  NUMBER OF PEDESTRIANS INJURED  \
count              2.018932e+06                   2.018963e+06
mean               1.447795e-03                   5.519467e-02
std                4.008954e-02                   2.413614e-01
min                0.000000e+00                   0.000000e+00
25%                0.000000e+00                   0.000000e+00
50%                0.000000e+00                   0.000000e+00
75%                0.000000e+00                   0.000000e+00
max                8.000000e+00                   2.700000e+01

       NUMBER OF PEDESTRIANS KILLED  NUMBER OF CYCLIST INJURED  \
count                  2.018963e+06               2.018963e+06
mean                   7.251247e-04               2.614411e-02
std                    2.741069e-02               1.614861e-01
min                    0.000000e+00               0.000000e+00
25%                    0.000000e+00               0.000000e+00
50%                    0.000000e+00               0.000000e+00
75%                    0.000000e+00               0.000000e+00
max                    6.000000e+00               4.000000e+00

       NUMBER OF CYCLIST KILLED  NUMBER OF MOTORIST INJURED  \
count              2.018963e+06                2.018963e+06
mean               1.119387e-04                2.180679e-01
std                1.062623e-02                6.550812e-01
min                0.000000e+00                0.000000e+00
25%                0.000000e+00                0.000000e+00
50%                0.000000e+00                0.000000e+00
75%                0.000000e+00                0.000000e+00
max                2.000000e+00                4.300000e+01

       NUMBER OF MOTORIST KILLED  COLLISION_ID
count               2.018963e+06  2.018963e+06
mean                5.913927e-04  3.117002e+06
std                 2.651381e-02  1.504009e+06
min                 0.000000e+00  2.200000e+01
25%                 0.000000e+00  3.140860e+06
50%                 0.000000e+00  3.645705e+06
75%                 0.000000e+00  4.150694e+06
max                 5.000000e+00  4.655786e+06

In [46]:
print(motor_df['CRASH DATE'].value_counts())

01/21/2014    1161
11/15/2018    1065
12/15/2017     999
05/19/2017     974
01/18/2015     961
              ...
04/23/2020     108
04/12/2020     106
04/09/2020     103
04/19/2020     102
04/05/2020      94
Name: CRASH DATE, Length: 4066, dtype: int64

In [47]:
print(motor_df['ON STREET NAME'].value_counts())

BROADWAY                            17277
ATLANTIC AVENUE                     15322
BELT PARKWAY                        13543
3 AVENUE                            12476
NORTHERN BOULEVARD                  11965
                                    ...
55 street                               1
Central Ave                             1
34 Avenue                               1
GREENPOINT AVEUNE                       1
MC NALLY PLAZA                          1
Name: ON STREET NAME, Length: 17995, dtype: int64

In [50]:
subset = motor_df[['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']]
print(subset.head())

   NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
0                        2.0                       0.0
1                        1.0                       0.0
2                        0.0                       0.0
3                        0.0                       0.0
4                        0.0                       0.0

In [51]:
subset = motor_df[['CRASH DATE', 'CRASH TIME']]
print(subset.head())

   CRASH DATE CRASH TIME
0  09/11/2021       2:39
1  03/26/2022      11:45
2  06/29/2022       6:55
3  09/11/2021       9:35
4  12/14/2021       8:13